@model FinalProject.Models.registerviewmodel
@{
    ViewBag.Title = "prophile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h2 {
            font-family: 'Tangerine', serif;
            font-size: 40px;
            color: black;
        }
    table tr th
    {
            font-family: 'Tangerine', serif;
            font-size: 40px;
            color: black;
    }
</style>

<h2>Hey @ViewBag.name</h2>

<h2>@ViewBag.msg</h2>

@if (Model != null)
{
        <div class="h2">

            <table class="table table-bordered table-responsive">
                <tr>
                    <th>Name</th>
                    <th>@Html.DisplayFor(model => model.users_name)</th>
                </tr>

                <tr>
                    <th>Father-Name</th>
                    <th>@Html.DisplayFor(model => model.user_f_name)</th>
                </tr>


                <tr>
                    <th>Cnic</th>
                    <th>@Html.DisplayFor(model => model.user_cnic)</th>
                </tr>

                <tr>
                    <th>Email</th>
                    <th>@Html.DisplayFor(model => model.user_email)</th>
                </tr>

                <tr>
                    <th>department-Name</th>
                    <th>@Html.DisplayFor(model => model.userdep_id)</th>
                </tr>

                <tr>
                    <th>department-Name</th>
                    <th>@Html.DisplayFor(model => model.userdep_id1)</th>
                </tr>


            </table>

        </div>
  
     
    }

       